.app{
    margin:5%;
    padding:5%;
    background-color:rgb(248, 245, 245);
    border-radius: 10px;
}
.hidden{
    display: none;
}
input#date_input{
    background: white;
}
.heavy { font: bold 10px sans-serif; }
.Rrrrr {  fill: red; text-shadow: 1px 1px 1px grey;}
body{
    max-width: 500px;
}