@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    min-width: 650px;
}
.username{
    color:#007bff;
    font-weight: bold;
    text-decoration: underline;
    padding: 0 0 0 5px ;
}
.right{
    margin-right: 5px;
}
.left{
    margin-left: 5px;
}
.farleft{
    background-color: white;
    padding: 6px 3px;
    border-radius: 8px;
    border:2px solid #fff;
}
.farleft:hover{
    background-color: #007bff;
    color: white;
    text-decoration: none;
}
table{
    border-radius: 8px;
    border:1px outset white;
}
th{
    background-color: white; 
    border: 2px outset white;
    color: #000;
    text-shadow: 1px 1px 1px grey;
}

td{
    /* background-color: white;  */
    border: 2px outset white;
}
span{
    float: right;
}
.welcome{
    background-color: white;
    border-radius: 4px;
}
.nothing{
    padding:3px 10px;
    display: inline-block;
}
.log{
    margin-top: 15px;
    margin-bottom: 5px;
}
.alignright{
    text-align: right;
    
}
.alignleft{
    text-align: left;
    margin-bottom: 10px;
    }
    .top{
        border:1px solid white;
        padding:10px 40px;
        background-color: #eee;
        border-radius: 10px;
        margin:50px 0; 
    }
    .login-button{
        margin-right: 10px;
    }
    .error{
        color: red;
    }
    .title{
        background-color: white;
    }
    .usernamedisabled{
        height: 40px;
        background-color: #eee;
        border: 2px solid #ddd;
        text-align: left;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .heavy { font: bold 8 sans-serif; }
    .Rrrrr { font: italic 8 serif; fill: red; text-shadow: 1px 1px 1px grey;}
    .icon-size-edit{
        font-size:25px;
    }
    .icon-size-delete{
        font-size:25px;
    }
    .watch{
        float: left;
    }
    #watch{
        height: 2em;
    }
    #danger{
        color: red;
    }
    .search{
        margin-top: 10px;
    }
    input#date_input{
        background-color: white;
        font-size: 1em;
        padding-bottom: 10px;
        padding-left: 10px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        
    }